<div id="headerBackground">
    <div id="header" class="clearfix">
        <div class="headerLeft headerLogo">be motivated</div>
        <div class="headerLeft headerAuswahl" ng-click="path('/')">Home</div>
        
        <div class="headerRight headerAuswahl headerLoginAuswahl" ng-click="path('/login')">Login</div>
        <div class="headerRight headerAuswahl" ng-click="path('/signUp')">Sign Up</div>
    </div>
</div>

<div id="loginInput">
    <h1>Login</h1>
    <br>
    <p>Name: </p>
    <input class="form-control"  ng-model="login.name" ng-keypress="submit(login,$event)">
    <p>Password: </p>
    <input type="password" class="form-control" ng-model="login.password" ng-keypress="submit(login,$event)">
    <button ng-click="submit(login)">Login</button>
    <div class="loginError">{{errorMessage}}</div>
</div>










