/* Banner */


#banner img{
    width: 100%;
    height: 70%;
}

#homeShowUSerContent{
    width: 60%;
    margin-left: 20%;
}



@media only screen and (max-device-width: 500px){
    
    #banner img {
        height: 40%;
    }
    
}