<div id="headerBackground">
    <div id="header" class="clearfix">
        <div class="headerLeft headerLogo">be motivated</div>
        <div class="headerLeft headerAuswahl" ng-click="path('/')">Home</div>
        
        <div class="headerRight headerAuswahl" ng-click="path('/login')">Login</div>
        <div class="headerRight headerAuswahl" ng-click="path('/signUp')">Sign Up</div>
    </div>
</div>

<div id="banner">
    <img src="/home/berg.jpg">
</div>

<div id="homeShowUserContent">
    <h1>Hier landen von Usern erstellte Pins</h1>
</div>

    
