<div id="headerBackground">
    <div id="header" class="clearfix">
        <div class="headerLeft headerLogo">be motivated</div>
        <div class="headerLeft headerAuswahl" ng-click="path('/')">Home</div>
        
        <div class="headerRight headerAuswahl" ng-click="path('/login')">Login</div>
        <div class="headerRight headerAuswahl" ng-click="path('/signUp')">Sign Up</div>
        
    </div>
</div>

<div id="banner">
    <img src="/home/berg.jpg">
</div>

<div id="userHomePins" ng-style="verdecken">
          
    <div id="container">
        <div ng-repeat="pin in allPins">
            <div showAllPins check-last class="grid-item">
                <img src="{{pin.img}}" onError="this.onerror=null;this.src='/Bilder/images.jpg';">
                <h3>{{pin.title}}</h3>
            </div>
        </div>
    </div>
    
</div>


    
