#headerBackground{
    background-color: 	#F5F5F5;
}

#header{
    width: 60%;
    margin-left: 20%;
    line-height: 70px;
}

.headerLeft{
    float: left;
    width: 80px;
}

.headerRight{
    float: right;
    width: 80px;
    text-align:center;
}

.headerLogo{
    float: left;
    width: 200px;
    font-size: 20px;
}


.headerAuswahl:hover{
    font-weight: 900;
    cursor: pointer;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


.headerUserName{
    width: 200px;
}

.userSetting{
    cursor: pointer;
    height: 45px;
    width: 50px;
    margin-top: 10px;
    padding-top: 10px;
    
}

.userSetting:hover{
    background: lightgray;
    border-radius: 50%;
}

